button{
    width: 120px;
    height: 33px;
    cursor: pointer;
    background-color: rgba(0, 8, 255, 1);
    border-color: transparent;
    border-radius: 20px;
    color: #FFF;
    font-weight: 400;
    font-size: 16px;
    letter-spacing: 0.2px;
    text-transform: uppercase;
}
