.projects-hero-section{
    background-color: rgba(230, 218, 206, 1);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 24px;
    animation: fadeIn 1.2s ease-in-out ;
}
@media (min-width:768px) {
    .projects-hero-section{
        padding: 40px 100px 40px 100px;
    }
}
@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}
